@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

li{
  cursor: pointer;
}
.active{
  background-color:  #64748b;
}

.newuser input, .newproduct input {
  height: 3.5rem;
  border: 2px solid rgb(133, 132, 133);
  width: 300px;
  border-radius: 2%;
}

.newuser ::placeholder,.newproduct ::placeholder{
  color: black;
  padding: 2px;
}